.nav-type-2 .navbar-nav > li > a {
    color: #ffffff;
    letter-spacing: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.navigation.sticky {
    position: fixed;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 60px;
    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1009;
}

.pt-20{
	padding-top: 20px;
}

.bt-20{
	padding-bottom: 20px;
}

.pt-60{
	padding-top: 60px;
}

.bt-60{
	padding-bottom: 60px;
}

.my-4{
    margin: 4rem 0rem;
}

.my-3{
    margin: 3rem 0rem;
}

.my-2{
    margin: 2rem 0rem;
}

.my-1{
    margin: 1rem 0rem;
}

.pb-2{
    padding-bottom: 2rem;
}

.px-5{
    padding: 0rem 5rem;
}

@media (min-width: 992px){
    .px-10{
    padding: 0rem 10rem;
    }
}


.portfolio-single img {
    width: 49%;
}


.logo{
    padding: 10px 0px;
}












